@model Tuple<string, string>
@{
    ViewData["Title"] = "";
}

<div class="alert-@Model.Item1" style="text-align:center">@Model.Item2.Trim('"')</div>
<div class="row">
    <div class="col-md-8">
        <!--<div class="alert-@Model.Item1" style="text-align:center">@Model.Item2.Trim('"')</div>-->

        <h1 class="display-6">Welcome</h1>
        <p> 
            Strongholds is a web-based autonomous multiplayer game, accessed through a RESTful API.<br>

            The game can be played through this demo client, 
            or by interacting directly with the API at 
            <a href="https://api.strongholds.online">api.strongholds.online</a>.<br>
            <br>
            <b>Disclaimer</b><br />
            The game is in early stages of development, and does not represent the final product.<br>
            Any current features are liable to change and the database will periodically reset.<br>
            <br>
            While security is a priority, this game is <a href="">open source</a> 
            and potentially vulnerable to data breaches during development.<br>
            Therefore it is advised not to store any sensitive information, 
            until such a time it's security can be guarenteed.<br>
            <br>
        </p>

        <h1 class="display-6">Mood</h1>
        <p> 
            You find yourself stranded inside a 'station' on the surface of a distant planet. 
            You've worked here the last 5 years without so much as a power surge. 
            But now you find yourself confronted by the inevitable.<br>
            <br>
            Comms are down. The Relay station is unreachable. And you're running low on supplies.<br>
            <br>
            Your only means of survival is to harness what little you have left. The outside is inhospitable. 
            You send out the station's basic robot in search of supplies. After an anxious wait the bot returns. 
            Why did it take so long? A dimly lit screen on the bot reads out the log report.<br>

            <code>
                Scan results:<br>
                --------------------------<br>
                coord: (24.510, 86.834)<br>
                Heat: 25 degK<br>
                Soil: Hard<br>
                Nearby structures: 1<br>
                Warning: Unknown entity<br>
                High level of radiation!<br>
            </code>
        </p>
    </div>
</div>


