@model Tuple<string, string>
@{
    ViewData["Title"] = "Design Doc";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="alert-@Model.Item1" style="text-align:center">@Model.Item2.Trim('"')</div>


        <h1 class="display-3">@ViewData["Title"]</h1>

        <h1 class="display-6">Summary</h1>
        <p> Strongholds is a web based multiply autonomous game.
            Players configure robots to venture out into the waste to collect resources.
            All the game state will be stored in a DB that users access through an api
            I will write a basic api but players can configure the robots to react to certain triggers

        </p>

        <h1 class="display-6">Gameplay loop</h1>
        <p> Players build and upgrade robots to send on missions.

            Missions collect info or resources.

            Collected resources are used to upgrade robots and rebuilt their station.

            Collected info is used to explore uncharted territory.

            The goal is to survive for as long as possible.
        </p>

    </div>
</div>


