@model UserData

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<form asp-action="Mal">
    @foreach(var property in ViewData.ModelMetadata.Properties)
    {
        <div class="editor-line">
            @{
                var name = property.DisplayName ?? property.PropertyName;
            }
            <label>@(name)</label>
            <input type="text" id="@name" name="@name" autocomplete="on">
        </div>
    }
    
    <input type="submit" value="Submit" />
</form>