@model Strongholds.ViewModels.GameView
@{
    ViewData["Title"] = "Play";
}

<div class="row justify-content-center">
    <div class="col-md-10">
        <div>
            @foreach(StrongholdsUtil.Models.Robot r in @Model.MyRobots)
            {
                
            }
        </div>

    </div>
</div>


